<ion-header>
  <ion-toolbar>
    <ion-title>
      DETALHES JOGO
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <h2 text-center>Árbitro</h2>
      <ion-grid>
        <ion-row style="font-size:12px;">
          <ion-col col-12>
            <ion-avatar>
              <img class="margin-auto" *ngIf="arbitro.imagem" src="{{'http://www.goldeplacama.com.br/images/arbitro/'+arbitro.imagem}}" />
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center col-12>
            <h2>{{arbitro.nome}}</h2>
            <p>Mesário: {{sumula.mesario}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center col-12>
            <button ion-button large clear icon-end color="primary">
              Equipes
              <ion-icon name="arrow-dropdown-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="font-size:12px;">
        <ion-row class="title">
          <ion-col col-12>{{jogo.equipe1}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let j of equipe1">
          <ion-col col-8 class="bold">{{j.nome_jogador}}</ion-col>
          <ion-col col-4>Gols: {{j.gols}} <span class="yellow bold">A:</span> {{j.cartao_a}} <span class="red bold">V:</span> {{j.cartao_v}}</ion-col>
        </ion-row>
        <ion-row class="title">
          <ion-col col-12>{{jogo.equipe2}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let j of equipe2">
          <ion-col col-8 class="bold">{{j.nome_jogador}}</ion-col>
          <ion-col col-4>Gols: {{j.gols}} <span class="yellow bold">A:</span> {{j.cartao_a}} <span class="red bold">V:</span> {{j.cartao_v}}</ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
