<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Gol de Placa - MA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:#eff2f2" class="font-10">

  <ion-card>
    <ion-card-header class="header">
      <p class="text-center text-upper" color="white">TABELA DE JOGOS </p>
      <p><small>{{categoria}} | {{rodadaview}}</small></p>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>Rodada:</ion-label>
        <ion-select [(ngModel)]="rodada" (ionChange)="filterRodada(rodada)">
          <ion-option value="null" selected>GERAL</ion-option>
          <ion-option *ngFor="let l of rodadas" value="{{l.rodada}}">{{l.rodada}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item *ngFor="let j of jogos">
        <ion-grid>
          <ion-row>
            <ion-col class="text-right bold" col-3>{{j.equipe1 | uppercase}}</ion-col>
            <ion-col col-6 class="text-center text-align">
              <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{j.equipe1}}.bmp">
                {{j.placar1 != '' ? j.placar1:'?'}} -
                {{j.placar2 != '' ? j.placar2:'?'}}
              <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{j.equipe2}}.bmp">
            </ion-col>
            <ion-col class="text-left bold" col-3>{{j.equipe2 | uppercase}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center *ngIf="j.PLpenalt1 > 0 || j.PLpenalt2 > 0">
                <h2 style="font-weight:bold">Pênaltis</h2>
                <p style="font-weight:bold">{{j.PLpenalt1}} x {{j.PLpenalt2}}</p>
            </ion-col>
          </ion-row>
          <ion-row class="text-center">
            <ion-col col-4>{{j.data_jogo}}</ion-col>
            <ion-col col-4>{{j.dia}} - {{j.hora}}</ion-col>
            <ion-col col-4>{{j.campo}}</ion-col>
          </ion-row>
          <ion-row class="text-center">
            <ion-col col-12>{{j.fase}} - {{j.categoria}}</ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col col-12>
              <button small ion-button clear item-end icon-left (click)="detalhes(j.codigo)">
                <ion-icon name="arrow-dropright"></ion-icon>
                MAIS DETALHES
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>
  </ion-card>
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
