page-tabelajogos {
  ion-icon{
    padding-left: 5px;
  }
  ion-col{
    font-size: 10px;
  }
  ion-item{
    border-bottom: 1px solid #aaa8aa !important;
  }
  .bold{font-weight: bold;}
  .text-right{text-align: right;}
  .text-left{text-align: left;}
  .text-center{text-align: center;}
  .header{background-color: #dad8da;color:#FFF;text-align: center;text-transform: uppercase;}
  .text-upper{text-transform: uppercase;}
  .img-logo{width:100%;height: 20%;margin-bottom: 5px;}
  .img-logo-equipe{width:16px;height: 16px;display: inline;margin:2px;}
  .font-10{font-size: 10px;}
}
