<ion-header>
  <ion-toolbar>
    <ion-title>
      DETALHES
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<<ion-content>
  <ion-list>
    <ion-item color="darkmediumgray">
      <ion-avatar item-start>
        <img class="perfil" item-start src="{{jogador.img_perfil == '' ? 'http://www.goldeplacama.com.br/images/sem-imagem-avatar.png':'http://wwww.goldeplacama.com.br/images/jogadores/perfil/'+jogador.img_perfil}}" />
      </ion-avatar>
      <h2>{{jogador.nome_jogador}}</h2>
      <p>{{jogador.categoria}}</p>
      <p>{{jogador.time}}</p>
  </ion-item>

  <ion-item>
    Gols
    <ion-note style="color:black;" item-end>
      {{jogador.gols}}
    </ion-note>
  </ion-item>

  <ion-item>
    <img src="http://www.goldeplacama.com.br/images/jogadores/{{jogador.id}}.gif" />
  </ion-item>

  </ion-list>
</ion-content>
