<ion-header>
  <ion-toolbar>
    <ion-title>
      JOGADOR DETALHES
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="data">
    <ion-item color="darkmediumgray">

        <img style="width:120px;heigth:120px;border-radius:50%;" class="perfil" item-start src="{{data.jogador[0].img_perfil === '' ? 'http://www.goldeplacama.com.br/images/sem-imagem-avatar.png':'http://www.goldeplacama.com.br/images/jogadores/perfil/'+data.jogador[0].img_perfil}}" />

      <h2 style="color:black;font-weight:bold;">{{data.jogador[0].nome_jogador}}</h2>
  </ion-item>
</ion-list>
  <ion-grid *ngIf="data">
    <div *ngFor="let r of data.sumula" style="border-bottom:1px solid #000">
      <ion-row >
        <ion-col style="font-weight:bold;" col-6>Adversário</ion-col>
        <ion-col col-6>{{adversario(r.id_jogo)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-weight:bold;" col-6><img style="width:100%;max-width:1.0em;height:100%;max-heigth:1.5em;" src="http://www.goldeplacama.com.br/images/cartao_a.png"> Cartão Amarelo</ion-col>
        <ion-col col-6>{{r.cartao_a}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-weight:bold;" col-6><img style="width:100%;max-width:1.0em;height:100%;max-heigth:1.5em;" src="http://www.goldeplacama.com.br/images/cartao_v.png"> Cartão Vermelho</ion-col>
        <ion-col col-6>{{r.cartao_v}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-weight:bold;" col-6>Data</ion-col>
        <ion-col col-6>{{datajogo(r.id_jogo)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="font-weight:bold;" col-6>Número Jogo</ion-col>
        <ion-col col-6>{{numerojogo(r.id_jogo)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Categoria</ion-col>
        <ion-col col-6>{{r.categoria}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Gols</ion-col>
        <ion-col col-6>{{r.gols}}</ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
