<ion-header>
  <ion-toolbar>
    <ion-title>
      NOTÍCIA
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="noticia">

  <ion-slides *ngIf="noticia.rel.noticiaImagems && noticia.rel.noticiaImagems.length" style="height:350px;  width: 100%;" effect="fade" autoplay="3000" loop="true" speed="400" pager="true" auto-play="true">
    <ion-slide style="height: 350px; width: 100vw;background-color: #686668;color: #000;" *ngFor="let images of noticia.rel.noticiaImagems">
      <img style="max-height: 100%;height: 350px;width: 100vw;" src="http://www.goldeplacama.com.br/images/noticias/{{images.src}}" />
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col text-center col-12 style="font-weight:bold;color:#CC0000"><h1>{{noticia.attr.titulo}}</h1></ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="font-size:22px;" text-justify col-12 [innerHtml]="noticia.attr.noticia"></ion-col>
  </ion-row>


</ion-content>
