<ion-header>
  <ion-toolbar>
    <ion-title>
      ANIVERSARIANTES DO MÊS
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jogadores">

  <ion-card>
  <img style="width:150px;margin:0 auto;" src="http://www.goldeplacama.com.br/images/icon_aniversario_g.png"/>
  <ion-card-header text-center col-12 style="font-size:30px;font-weight:bold;" *ngIf="data">
    Aniversariantes ({{data}})
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let j of jogadores, let i = index" text-center col-12 style="font-weight:bold;">
        {{j.attr.nome_jogador}}
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>



</ion-content>
