<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{appName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:#eff2f2" class="font-10">
  <ion-label class="slide-label">CLASSIFICAÇÃO <ion-icon name="swap"></ion-icon></ion-label>
  <ion-scroll scrollX="true">
    <button *ngFor="let cat of categorias" (click)="classificacao(cat.attr.categoria)" style="margin-top:1.0em" ion-button color="light" small round>{{cat.attr.categoria}}</button>
  </ion-scroll>
  <ion-label class="slide-label">JOGOS <ion-icon name="swap"></ion-icon></ion-label>
  <ion-scroll scrollX="true">
    <button *ngFor="let cat of categorias" (click)="jogos(cat.attr.categoria)" style="margin-top:1.0em" ion-button color="light" small round>{{cat.attr.categoria}}</button>
  </ion-scroll>
  <ion-scroll scrollX="true">
    <button ion-button (click)="jogadoresPendurados()" color="secondaryy" round>Pendurados</button>
    <button ion-button (click)="jogadoresSuspensos()" color="dangerr" round>Suspensos</button>
  </ion-scroll>
  
  <ion-card>
    <ion-card-header class="header">
      <p class="text-center" uppercase color="white">Próximas Partidas</p>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let p of partidas">
        <ion-grid>
          <ion-row>
            <ion-col class="text-right bold" col-3>{{p.attr.equipe1 | uppercase}}</ion-col>
            <ion-col col-6 class="text-center text-align">
              <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{p.attr.equipe1}}.bmp">
              {{p.attr.placar1 !='' ? p.attr.placar1:'?'}} -
              {{p.attr.placar2 !='' ? p.attr.placar2:'?'}}
              <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{p.attr.equipe2}}.bmp">
            </ion-col>
            <ion-col class="text-left bold" col-3>{{p.attr.equipe2 | uppercase}}</ion-col>
          </ion-row>
          <ion-row class="text-center">
            <ion-col col-4>{{p.attr.data_jogo}}</ion-col>
            <ion-col col-4>{{p.attr.dia}} - {{p.attr.hora}}</ion-col>
            <ion-col col-4>{{p.attr.campo}}</ion-col>
          </ion-row>
          <ion-row class="text-center">
            <ion-col col-12>{{p.attr.fase}} - {{p.attr.categoria}}</ion-col>
          </ion-row>
          <ion-row class="text-center bold">
            <ion-col col-12>{{p.rel.idCompeticao.nome_competicao | uppercase}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
