// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1abc9c,
  secondary:  #2ecc71,
  danger:     #16a085,
  light:      #f2f6f7,
  dark:       #2c3e50,
  blackraisin: #272527,
  darkmediumgray: #aaa8aa,
  gainsboro: #dad8da,
  granitegray: #686668,
  arsenic: #454345,
  dangerr: #CF0000,
  secondaryy: #CF950A
  );




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// color palette
$color-orange: #f1af67;
$color-dark-orange: #e0831d;
$color-white: #fff;
$color-grey: #666;
$color-ligth-grey: #fbf9f9;

$font-icons: 'Ionicons';

// Ovewrite ionic variables
$toolbar-background: #373a3c;
$toolbar-active-color: $color-orange;
$toolbar-inactive-color: $color-white;
$toolbar-ios-title-text-color: $color-orange;
$toolbar-md-title-text-color: $color-orange;

$tabs-background: #373a3c;
$tabs-tab-color-active: $color-orange;
$tabs-tab-color-inactive: $color-white;

$tabs-md-tab-icon-color: $color-white;
$tabs-md-tab-icon-color-active: $color-orange;

$tabs-md-tab-text-color: $color-white;
$tabs-md-tab-text-color-active: $color-orange;

$list-background-color: transparent;

//general styles - global file not working
ion-content {
  background-color: $color-ligth-grey !important;

  h2,
  a {
    color: $color-orange;
  }

  p {
    color: $color-grey;
  }
}
