<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-card-header>
      Competições
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>
        Selecione apenas as que deseja acompanhar!
      </ion-card-title>
      <ion-list>
        <ion-item *ngFor="let c of allCompetitions">
          <ion-label>{{c.attr.nome_competicao}}</ion-label>
          <ion-checkbox (ionChange)="pushCompeticao(c.attr.id,c.attr.nome_competicao,$event)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button (click)="storageCompetitions()" ion-button icon-right clear full color="default">
          <div>Alterar</div>
        </button>
    </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
