<ion-content>
  <div #pageElement id="page-element">
      <ion-slides *ngIf="banner && banner.length" effect="fade" autoplay="3000" loop="true" speed="400" pager="true" class="slider" auto-play="true">
        <ion-slide class="slider-slide" *ngFor="let image of banner">
          <img class="banner" data-src="http://www.goldeplacama.com.br/images/banner_principal/{{image.attr.imagem}}">
        </ion-slide>
      </ion-slides>
      <h1 text-uppercase>em andamento</h1>
      <button float-start class="menu_competition" ion-item *ngFor="let item of items" (click)="itemTapped($event, item.id, item.nome_competicao)">
          <img class="logo" float-center style="" data-src="http://www.goldeplacama.com.br/{{item.foto}}" />
          <h4>{{item.abrev}}</h4>
      </button>
  </div>
</ion-content>
