modal-carteira{
  .avatar{
    width:100%;
    height: 100%;
    max-width: 75px;
    max-height: 95px;
  }
  .perfil{
    border-radius: 50%;
    overflow: hidden;
  }
  .bg{
    background: #efd50c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top bottom, #efd50c , #C7B215); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top bottom, #efd50c, #C7B215); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top bottom, #efd50c, #C7B215); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top bottom, #efd50c , #C7B215); /* Standard syntax */
  }
  ion-card-content{
    font-size: 14px;
  }
  .goleiro{
    font-weight: bold;
    font-size: 20px;
  }
  h2{
    font-weight: bold !important;
  }
}
