<ion-header *ngIf="classificacao">
  <ion-toolbar>
    <ion-title>
      DETALHES
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="classificacao" padding-top>

  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-card>
      <img src="{{'http://www.goldeplacama.com.br/images/logo/fotos/'+classificacao.id+'.jpg'}}"/>
    </ion-card>
    <ion-list-header>PONTUAÇÕES</ion-list-header>
    <ion-item style="font-size:12px;">
      <ion-avatar item-start>
        <img src="{{'http://www.goldeplacama.com.br/images/logo/'+classificacao.equipe+'.bmp'}}" />
      </ion-avatar>
      <h2>{{classificacao.class}}º {{classificacao.equipe}}</h2>
      <p>{{classificacao.categoria}}</p>
  </ion-item>

  <ion-item style="font-size:12px;">
    Pontos
    <ion-note style="color:black;" item-end>
      {{classificacao.PTS}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Vitória
    <ion-note style="color:black;" item-end>
      {{classificacao.V}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Empate
    <ion-note style="color:black;" item-end>
      {{classificacao.E}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Derrota
    <ion-note style="color:black;" item-end>
      {{classificacao.D}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Gols Pro
    <ion-note style="color:black;" item-end>
      {{classificacao.GP}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Gols Contra
    <ion-note style="color:black;" item-end>
      {{classificacao.GC}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Saldo de Gols
    <ion-note style="color:black;" item-end>
      {{classificacao.SG}}
    </ion-note>
  </ion-item>

  <ion-item style="background-color:yellow;color:#000;font-size:12px;">
    Cartões Amarelos
    <ion-note style="color:black;" item-end>
      {{classificacao.qtdAmarelo}}
    </ion-note>
  </ion-item>

  <ion-item style="background-color:red;color:#FFF;font-size:12px;">
    Cartões Vermelhos
    <ion-note style="color:black;" item-end>
      {{classificacao.qtdVermelho}}
    </ion-note>
  </ion-item>

  <ion-item style="font-size:12px;">
    Jogos
    <ion-note style="color:black;" item-end>
      {{classificacao.part}}
    </ion-note>
  </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>JOGADORES</ion-list-header>
    <ion-item *ngFor="let j of jogadores">
      <ion-grid style="font-size:12px;">
        <ion-row>
          <ion-col text-right col-32 class="bold">{{j.attr.nome_jogador | uppercase}}</ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.jgd === 'Gol'">
          <ion-col text-center col-32 class="bold">{{"GOLEIRO" | uppercase}}</ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col col-4 class="bold">Gols: {{j.attr.gols}}</ion-col>
          <ion-col col-4><label style="font-weight:bold;color:yellow">Amarelo:</label> {{j.attr.amarelo}}</ion-col>
          <ion-col col-4><label style="font-weight:bold;color:red">Vermelho:</label> {{j.attr.vermelho}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center col-6>S.A.: {{j.attr.situacao_atleta}}</ion-col>
          <ion-col text-center col-6>T.Sócio: {{j.attr.master}}</ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.jgd === 'Gol' && j.attr.img_perfil !== ''">
          <ion-col col-12 class="bold" text-center style="color:#efd50c"><a href="#" (click)="carteiraGoleiro(j.attr.id)">CARTEIRA DO GOLEIRO</a></ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.jgd === 'Gol' && j.attr.img_perfil === ''">
          <ion-col col-12 class="bold" text-center style="color:#efd50c"><a href="#" (click)="carteiraInfo()">CARTEIRA PENDENTE</a></ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.at === 'AT'">
          <ion-col col-12 class="bold" text-center style="color:blue">ATESTADO PENDENTE</ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.cartao === 'Suspenso'">
          <ion-col col-12 class="bold" text-center style="color:red">JOGADOR SUSPENSO</ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.master === 'EXB' || j.attr.master === 'EXB' || j.attr.master === 'EXB'">
          <ion-col col-12 class="bold" text-center style="color:orange">{{j.attr.master || uppercase}}</ion-col>
        </ion-row>
        <ion-row *ngIf="j.attr.situacao_atleta === 'ES'">
          <ion-col col-12 class="bold" text-center style="color:green">{{'Situação Atleta: '+j.attr.situacao_atleta || uppercase}}</ion-col>
        </ion-row>

        <!--
        <ion-row class="text-center">
          <ion-col col-12>{{p.attr.fase}} - {{p.attr.categoria}}</ion-col>
        </ion-row>
        <ion-row class="text-center bold">
          <ion-col col-12>{{p.rel.idCompeticao.nome_competicao | uppercase}}</ion-col>
        </ion-row>
        -->
      </ion-grid>
    </ion-item>
    <ion-row *ngIf="jogadores">
      <ion-col col-12 class="bold" text-center>TOTAL DE JOGADORES: {{jogadores?.length}}</ion-col>
    </ion-row>
  </ion-list>

  <ion-list>
    <ion-list-header>JOGOS DA EQUIPE</ion-list-header>
    <ion-item *ngFor="let p of jogos">
      <ion-grid style="font-size:12px;">
        <ion-row>
          <ion-col text-right col-4 class="bold">{{p.attr.equipe1 | uppercase}}</ion-col>
          <ion-col col-4 text-center>
            <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{p.attr.equipe1}}.bmp">
              {{p.attr.placar1 !='null' ? p.attr.placar1:'?'}} -
              {{p.attr.placar2 !='null' ? p.attr.placar2:'?'}}
            <img class="img-logo-equipe" src="http://www.goldeplacama.com.br/images/logo/{{p.attr.equipe2}}.bmp">
          </ion-col>
          <ion-col text-left col-4 class="bold">{{p.attr.equipe2 | uppercase}}</ion-col>
        </ion-row>
        <ion-row class="text-center">
          <ion-col col-4>{{p.attr.data_jogo}}</ion-col>
          <ion-col col-4>{{p.attr.dia}} - {{p.attr.hora}}</ion-col>
          <ion-col col-4>{{p.attr.campo}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-row *ngIf="jogos">
      <ion-col col-12 class="bold" text-center>TOTAL DE JOGOS: {{jogos?.length}}</ion-col>
    </ion-row>
  </ion-list>

</ion-content>
