modal-classificacao{
  .bold{font-weight: bold;}
  .img-logo{width:100%;height: 20%;margin-bottom: 5px;}
  .img-logo-equipe{width:16px;height: 16px;display: inline;margin:2px;}
  ion-list-header{
    background-color: #2c3e50 !important;
    color: #fff !important;
    font-weight: bold;
  }
}
