<!--
  Generated template for the ClassificacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>Deslize para o lado</h3>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Sair</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-slides pager>
  <ion-slide>
      <ion-card *ngFor="let equipes of equipes_ch;">
        <ion-card-header class="titulo">
          CLASSIFICAÇÃO <small>Chave: {{equipes.key}}</small>
        </ion-card-header>
        <ion-list *ngFor="let equipe of equipes.value;let k = index">
          <button ion-item (click)="openClassificacaoDetalhes(equipe.id)">
            <img item-start class="equipeimg" style="width:36px;height:36px;" src="{{'http://www.goldeplacama.com.br/images/logo/'+equipe.equipe+'.bmp'}}" />
            {{equipe.class}}º {{equipe.equipe}}
            <ion-badge item-end style="background-color:blue">P:{{equipe.PTS}}</ion-badge>
            <ion-badge item-end style="background-color:green">V:{{equipe.V}}</ion-badge>
            <ion-badge item-end style="background-color:red">D:{{equipe.D}}</ion-badge>
            <ion-badge item-end style="background-color:yellow;color:black">E:{{equipe.E}}</ion-badge>
          </button>
        </ion-list>
      </ion-card>
  </ion-slide>

  <ion-slide>
      <ion-card *ngIf="artilheiros?.length > 0">
        <ion-card-header class="titulo">
          ARTILHEIROS
        </ion-card-header>
        <ion-list *ngFor="let artilheiro of artilheiros;let i = index">
          <button ion-item (click)="openJogadorDetalhes(artilheiro.nome_jogador,artilheiro.categoria,artilheiro.id_competicao)">
            <img class="perfil" item-start src="{{artilheiro.img_perfil == '' ? 'http://www.goldeplacama.com.br/images/sem-imagem-avatar.png':'http://www.goldeplacama.com.br/images/jogadores/perfil/'+artilheiro.img_perfil}}" />
            {{i+1}}º {{artilheiro.nome_jogador}}
            <ion-badge item-end>{{artilheiro.gols}} gols</ion-badge>
          </button>
        </ion-list>
      </ion-card>
      <ion-card *ngIf="artilheiros?.length == 0">
        <ion-card-header class="titulo">
          ARTILHEIROS
        </ion-card-header>
        <div>
            <img src="http://www.goldeplacama.com.br/images/logo.png" />
        </div>
      </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card *ngIf="melhorDisciplina?.length > 0">
      <ion-card-header class="titulo">
        Melhor Disciplina
      </ion-card-header>
      <ion-list *ngFor="let equipe of melhorDisciplina; let i = index">
        <button ion-item (click)="openMelhorDisciplinaDetalhes(i)">
          <img class="equipeimg" src="{{'http://www.goldeplacama.com.br/images/logo/'+equipe.equipe+'.bmp'}}" />
          {{i+1}}º {{equipe.equipe}}
        </button>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="melhorDisciplina?.length == 0">
      <ion-card-header class="titulo">
        Melhor Disciplina
      </ion-card-header>
      <div>
          <img src="http://www.goldeplacama.com.br/images/logo.png" />
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card *ngIf="ataquePositivo?.length > 0">
      <ion-card-header class="titulo">Ataque Mais Positivo</ion-card-header>
      <ion-list *ngFor="let equipe of ataquePositivo; let i = index">
        <button ion-item (click)="openAtaquePositivoDetalhes(i)">
          <img class="equipeimg" src="{{'http://www.goldeplacama.com.br/images/logo/'+equipe.equipe+'.bmp'}}" />
          {{i+1}}º {{equipe.equipe}}
        </button>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="ataquePositivo?.length == 0">
      <ion-card-header class="titulo">Ataque Mais Positivo</ion-card-header>
      <div>
          <img src="http://www.goldeplacama.com.br/images/logo.png" />
      </div>
    </ion-card>

  </ion-slide>

  <ion-slide>
    <ion-card *ngIf="melhorDefesa?.length > 0">
      <ion-card-header class="titulo">Melhor Defesa</ion-card-header>
      <ion-list *ngFor="let equipe of melhorDefesa; let i = index">
        <button ion-item (click)="openMelhorDefesaDetalhes(i)">
          <img class="equipeimg" src="{{'http://www.goldeplacama.com.br/images/logo/'+equipe.equipe+'.bmp'}}" />
          {{i+1}}º {{equipe.equipe}}
        </button>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="melhorDefesa?.length == 0">
      <ion-card-header class="titulo">Melhor Defesa</ion-card-header>
      <div>
          <img src="http://www.goldeplacama.com.br/images/logo.png" />
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card *ngIf="golsContra?.length > 0">
      <ion-card-header class="titulo">Gols Contra</ion-card-header>
      <ion-list *ngFor="let jogador of golsContra; let i = index">
        <button ion-item (click)="openGolsContraDetalhes(i)">
          <img class="perfil" item-start src="{{jogador.img_perfil == '' ? 'http://www.goldeplacama.com.br/images/sem-imagem-avatar.png':'http://www.goldeplacama.com.br/images/jogadores/perfil/'+jogador.img_perfil}}" />
          {{i+1}}º {{jogador.nome_jogador}}
        </button>

      </ion-list>
    </ion-card>
    <ion-card *ngIf="golsContra?.length == 0">
      <ion-card-header class="titulo">Gols Contra</ion-card-header>
      <div>
          <img src="http://www.goldeplacama.com.br/images/logo.png" />
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card *ngIf="goleiroArtilheiro?.length > 0">
      <ion-card-header class="titulo">Goleiro/Artilheiro</ion-card-header>
      <ion-list *ngFor="let jogador of goleiroArtilheiro; let i = index">
        <button ion-item (click)="openGoleiroArtilheiroDetalhes(i)">
          <img class="perfil" item-start src="{{jogador.img_perfil == '' ? 'http://www.goldeplacama.com.br/images/sem-imagem-avatar.png':'http://www.goldeplacama.com.br/images/jogadores/perfil/'+jogador.img_perfil}}" />
          {{i+1}}º {{jogador.nome_jogador}}
        </button>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="goleiroArtilheiro?.length == 0">
      <ion-card-header class="titulo">Goleiro/Artilheiro</ion-card-header>
      <div>
          <img src="http://www.goldeplacama.com.br/images/logo.png" />
      </div>
    </ion-card>
  </ion-slide>

</ion-slides>
</ion-content>
