<!--
  Generated template for the PreHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gol de Placa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="competicoes">
    <ion-card-content>
      <ion-card-title>
        Escolha a(s) competição(ões) que deseja acompanhar!
      </ion-card-title>
      <ion-list>
        <ion-item *ngFor="let c of competicoes">
          <ion-label>{{c.attr.nome_competicao}}</ion-label>
          <ion-checkbox (ionChange)="pushCompeticao(c.attr.id,c.attr.nome_competicao,$event)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button (click)="storageCompetitions()" ion-button icon-right clear full color="primary">
          <div>Avançar</div>
        </button>
    </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
